<div class="text-center">
    <h1 class="font-weight-bold home-top-copy"><%= Settings.home_utils[:hello] %></h1>
    <p><%= Settings.home_utils[:sub_copy] %></p>
</div>
<%= render'/static_pages/search_form' %>
<ul class="nav nav-tabs justify-content-center mt-5">
    <li class="nav-item">
        <a href="#geolocationMap" class="nav-link border-top-0 text-muted active" data-toggle="tab"><%= Settings.view_utils[:my_map] %></a>
    </li>
    <li class="nav-item">
        <a href="#newPostFeed" class="nav-link border-top-0 text-muted" data-toggle="tab"><%= Settings.view_utils[:new_arrival] %></a>
    </li>
    <li class="nav-item">
        <a href="#followingUserFeed" class="nav-link border-top-0 text-muted" data-toggle="tab"><%= Settings.view_utils[:time_line] %></a>
    </li>
</ul>

<div class="tab-content text-center">
    <div id="geolocationMap" class="tab-pane active">
        <div class="conteiner">
            <div class="row">
                <%= render 'geolocation_map' %>
            </div>
        </div>
    </div>
    <div id="newPostFeed" class="tab-pane">
        <% if @feed.any? %>
            <div class="conteiner">
                <div class="card-group　mx-auto">
                    <div id="new_post_list" class="row">
                        <%= render partial: '/microposts/postcards', collection: @feed, as: "post" %>
                    </div>
                    <div class="text-center mt-2">
                        <%= link_to_next_page @feed, Settings.view_utils[:more_view], remote: true, params: { type: :new_post_list },
                                              id: 'view_more', class: 'btn btn-warning btn-lg' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div id="followingUserFeed" class="tab-pane">
        <% if @following_users_feed.any? %>
            <div class="conteiner">
                <div class="card-group　mx-auto">
                    <div id="friendly_post_list" class="row">
                        <%= render partial: '/microposts/postcards', collection: @following_users_feed, as: "post" %>
                    </div>
                    <div class="text-center mt-2">
                        <%= link_to_next_page @following_users_feed, Settings.view_utils[:more_view], remote: true, params: { type: :friendly_post_list },
                                              id: 'view_more', class: 'btn btn-warning btn-lg' %>
                    </div>
                </div>
            </div>
        <% else %>
            <p class="text-center text-muted mt-5"><%= Settings.home_utils[:no_following_text] %></p>
        <% end %>
    </div>
</div>


