<div class="conteiner">
    <div class="row">
        <div class="col-12">
            <ul class="slider mb-auto mt-auto">
                <li><img src="<%= asset_path "flower.jpg"  %>"  ></li>
                <li><img src="<%= asset_path "lion.jpg"    %>"  ></li>
                <li><img src="<%= asset_path "space.jpg"   %>"  ></li>
                <li><img src="<%= asset_path "forest.jpg"  %>"  ></li>
                <li><img src="<%= asset_path "mountain.jpg"%>"  ></li>
            </ul>
        </div>
    </div>
</div>

    <div class="conteiner">
    <div class="row">
        <div class="topCopy col-12 text-center mt-5 mb-5">
            <h1 class="font-weight-bold">石ころから宇宙まで、NateMateで共有しよう</h1><br />
            <p>道ばたの花、飼っている動物、遠くの惑星、自分しか知らない景色...</p>
            <p>NateMateは、そんなNature(自然)をデジタルに保存、公開するSNSサービスです</p>
            <%=link_to '投稿する',new_user_registration_path,class:'btn btn-warning btn-lg homeBtn'%>
        </div>
    </div>
</div>
<div class="border mb-5"></div>

<h2 class="text-center">みんなのコレクション</h2>
    <div class="conteiner">
        <div class="card-group　mx-auto">
            <div class="row">
                <%=render partial: '/microposts/postcards', collection: @feed, as: "post"%>

            </div>
        </div>
    </div>

