<% if current_user!=post.user %>
    <% if post.like?(current_user) %>
      <%= form_for(post.likes.find_by(user_id: current_user.id), method: :delete,remote: true) do |f| %>
        <%= button_tag type: 'submit',class:"likeBtn" do %>
          <i class="fas fa-heart text-danger fa-fw"></i>
        <% end %>
        <span class="text-muted"><%=post.likes.count%></span>
      <% end %>
    <% else %>
      <%= form_for(post.likes.build,remote: true) do |f| %>
        <div><%= hidden_field_tag :micropost_id, post.id %></div>
        <%= button_tag type: 'submit',class:"likeBtn" do %>
          <i class="far fa-heart text-muted fa-fw"></i>
        <% end %>
        <span class="text-muted"><%= post.likes.count %></span>
      <% end %>
    <% end %>
<% else %>
  <span class="text-muted"><%= post.likes.count %> いいね！</span>
<% end %>

