<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a href="#mypost" class="nav-link border-top-0 text-muted active d-none d-md-block" data-toggle="tab"><%= Settings.view_utils[:collection] %></a>
    <a href="#mypost" class="nav-link border-top-0 text-muted d-block d-sm-none" data-toggle="tab"><%= Settings.view_utils[:post] %></a>
  </li>
  <li class="nav-item">
    <a href="#followingUser" class="nav-link border-top-0 text-muted" data-toggle="tab">
      <%= Settings.view_utils[:following] %><span id="js-following">&nbsp;<%= @user.following.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#follower" class="nav-link border-top-0 text-muted" data-toggle="tab">
      <%= Settings.view_utils[:follower] %><span id="js-followers">&nbsp;<%= @user.followers.count %></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="#likes" class="nav-link border-top-0 text-muted" data-toggle="tab"><%= Settings.view_utils[:likes] %></a>
  </li>
</ul>

<div class="tab-content text-center">
    <div id="mypost" class="tab-pane active">
        <% if @user.microposts.any? %>
          <% if @user != current_user && @user_post.any?%>
            <%= render 'user_map' %>
            <div class="mt-5 mb-3 border-bottom"></div>
          <% end %>
            <div class="font-weight-bold text-muted">
              <%= @user.microposts.count %><span class="font-weight-normal">&nbsp;<%= Settings.view_utils[:collected] %></span>
            </div>
            <div class="conteiner">
                <div class="card-group　mx-auto">
                    <div id="post_list" class="row">
                      <%= render partial: '/microposts/postcards', collection: @feed, as: "post" %>
                    </div>
                    <div class="text-center mt-2">
                        <%= link_to_next_page @feed, Settings.view_utils[:more_view], remote: true, params: { type: :post_list }, id: "view_more", class: "btn btn-warning btn-lg" %>
                    </div>
                </div>
            </div>
        <% else %>
            <% if current_user?(@user) %>
                <p class="mt-5"><%= Settings.messages[:post_none] %></p>
                <p><%= Settings.messages[:alone] %></p>
                <%= link_to Settings.post_utils[:submit_post], new_micropost_path, class:"btn btn-warning" %>
            <% else %>
                <p class="mt-5"><%= Settings.messages[:post_none] %></p>
            <% end %>
        <% end %>
    </div>
    <div id="followingUser" class="tab-pane">
      <% if @following_users.any? %>
        <div class="font-weight-bold text-muted">
            <%= @following_users.count %><span class="font-weight-normal">&nbsp;<%= Settings.view_utils[:following_en] %></span>
        </div>
        <div class="conteiner">
            <div class="card-group　mx-auto">
                <div id="following_list" class="row">
                    <%= render partial: 'users', collection: @following_users, as: "user" %>
                </div>
                <div class="text-center mt-2">
                    <%= link_to_next_page @following_users, Settings.view_utils[:more_view], remote: true, params: { type: :following_list }, id: 'view_more', class: 'btn btn-warning btn-lg' %>
                </div>
              </div>
          </div>
      <% else %>
          <% if current_user?(@user) %>
            <p class="mt-5"><%= Settings.messages[:no_following_user] %></p>
            <p><%= Settings.messages[:encourage_follow] %></p>
            <%= render'/static_pages/search_form_users' %>
          <% else %>
            <p class="mt-5"><%= Settings.messages[:no_following_user] %></p>
          <% end %>
      <% end %>
    </div>
    <div id="follower" class="tab-pane">
      <% if @followers.any? %>
        <div class="font-weight-bold text-muted">
          <%= @followers.count %><span class="font-weight-normal">&nbsp;<%= Settings.view_utils[:follower_en] %></span>
        </div>
            <div class="conteiner">
                <div class="card-group　mx-auto">
                    <div id="follower_list" class="row">
                      <%= render partial: 'users', collection: @followers, as: "user" %>
                    </div>
                    <div class="text-center mt-2">
                      <%= link_to_next_page @followers, Settings.view_utils[:more_view], remote: true, params: { type: :follower_list }, id: 'view_more', class: 'btn btn-warning btn-lg' %>
                    </div>
                </div>
            </div>
      <% else %>
        <p class="mt-5"><%= Settings.messages[:no_follower] %></p>
      <% end %>
    </div>

    <div id="likes" class="tab-pane">
      <% if @liking_posts.any? %>
        <div class="font-weight-bold text-muted">
          <%= @user.like_microposts.count %><span class="font-weight-normal">&nbsp;<%= Settings.view_utils[:likes_en] %></span>
        </div>
        <div class="conteiner">
          <div class="card-group　mx-auto">
              <div id="liking_list" class="row">
                <%= render partial: '/microposts/postcards', collection: @liking_posts, as: "post" %>
              </div>
              <div class="text-center mt-2">
                <%= link_to_next_page @liking_posts, Settings.view_utils[:more_view], remote: true, params: { type: :liking_list }, id: 'view_more', class: 'btn btn-warning btn-lg' %>
              </div>
          </div>
        </div>
      <% else %>
        <% if current_user?(@user) %>
          <p class="mt-5"><%= Settings.messages[:no_likes] %></p>
          <p><%= Settings.messages[:encourage_likes] %></p>
          <%= render'/static_pages/search_form' %>
        <% else %>
          <p class="mt-5"><%= Settings.messages[:no_likes] %></p>
        <% end %>
      <% end %>
</div>
