<% provide(:title, @user.name) %>
<div class="text-center">
  <% @user ||= current_user %>
    <% if user_avatar_valid?(@user) %>
      <%= image_tag @user.avatar.url, size:"200x200", class:"avatar-type-circle" %>
    <% else %>
      <%= image_tag asset_path('default.jpg'), size:"200x200", class:"avatar-type-circle"%>
    <% end %>
  <span class="personal-name ml-2"><span class="text-muted">@</span><%= @user.name %></span>
    <% if allowed_to_edit?(@user) %>
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-user-cog text-muted"></i>
      <% end %>
    <% end %>
    <% if follow_exchanged?(@user) %>
      <span><i class="fas fa-hands-helping text-success"></i></span>
    <% end %>
    <%= render 'follow_btn' %>
    <% if current_user.admin %>
      <%= button_to "このアカウントを削除", @user, :data => { :confirm => "本当に削除しますか?" }, :method => :delete, class: 'btn-danger' %>
    <% end %>
</div>
<%= render'user_tabs' %>

