<div class="text-center">
<% @user ||= current_user %>
<%if @user.avatar?%>
  <%= image_tag @user.avatar.url,size:"200x200",class:"avatarTypeCircle" %>
<%else%>
  <%= image_tag '/assets/default.jpg/',size:"200x200",class:"avatarTypeCircle" %>
<%end%>
<div><%=@user.name%></div>
<div id="following"><%=@user.following.count%></div>
<div id="followers"><%=@user.followers.count%></div>

<%= render 'follow_btn' %>
<%= render 'feed_tabs' %>

