<div class="text-center">
<% @user ||= current_user %>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" >
      <%= @user.following.count %>
    </strong>
    フォロー中
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" >
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
<%= render 'follow_form' %>
<h2><%=@user.name%>のコレクション</h2>
<%if @user.microposts.any?%>
    <ol>
        <%=render @microposts%>
    </ol>
<%=paginate @microposts%>
<%end%>
</div>
