<div id='map' class="mx-auto"></div>
<style>
#map{
  height: 350px;
  width:  700px;
  margin-top:15px;
}
</style>

<script>
    function initMap(){
        let map = new google.maps.Map(document.getElementById('map'), {
        <% if @micropost.latitude && @micropost.longitude %>
            center: {lat:<%=@micropost.latitude%>, lng:<%=@micropost.longitude%>},
        <% end %>
            zoom: 10
        });

        <% if @micropost.latitude && @micropost.longitude %>
            var exif_position = {lat:<%=@micropost.latitude%>, lng:<%=@micropost.longitude%>};
        <% end %>

        var markerOptions = {
            map: map,
            position: exif_position,
            };
        var marker = new google.maps.Marker(markerOptions);
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.dig(:google,:api_key)%>&callback=initMap" async defer></script>
