        <ul class="nav nav-tabs justify-content-center col-12 mt-3">
            <li class="nav-item">
                <a href="#detail" class="nav-link border-top-0 text-muted active" data-toggle="tab">
                    <i class="far fa-newspaper"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#postMap" class="nav-link border-top-0 text-muted" data-toggle="tab">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#likesUsers" class="nav-link border-top-0 text-muted" data-toggle="tab">
                    <i class="far fa-heart text-muted fa-fw"></i>
                </a>
            </li>
        </ul>

        <div class="tab-content mx-auto">
            <div id="detail" class="tab-pane active">
                <div class="text-center">
                    <h2 class="font-weight-bold mt-2"><%= @micropost.title %></h2>
                    <% if @micropost.content %>
                        <span style="white-space:pre-wrap"><%= @micropost.content %></span>
                    <% end %>
                </div>
            </div>
            <div id="postMap" class="tab-pane col-12">
                <% if exif_valid?(@micropost) || address_valid?(@micropost) %>
                    <%= render '/microposts/googlemaps' %>
                    <% if @micropost.address %>
                        <span class="text-muted">from <%= @micropost.address %></span>
                    <% end %>
                <% else %>
                    <p class="text-muted mt-5"><%= Settings.post_utils[:position_none] %></p>
                <% end %>
            </div>
            <div id="likesUsers" class="tab-pane">
                <div class="text-center">
                <% if @micropost.likes.any? %>
                    <div class="font-weight-bold text-muted">
                        <%= @micropost.likes.count %><span class="text-muted font-weight-normal">&nbsp;<%=Settings.view_utils[:likes_en]%></span>
                    </div>
                    <div class="conteiner">
                        <div class="card-group">
                            <div class="row">
                                <%= render partial: '/users/users', collection: @this_post_liking_users, as: "user" %>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <p class="text-muted mt-5"><%= Settings.post_utils[:likes_none] %></p>
                <% end %>
                </div>
            </div>
        </div>