<% provide(:title,"新規投稿") %>
<div class="text-center">
    <h1 class="font-weight-bold">新しいコレクション</h1>
    <div class="form-group mt-5">
      <%= form_for(@micropost) do |f| %>
        <%= render "shared/error_messages", model: f.object %>

          <div class="postPicturePrev mt-5">
            <% if picture_valid?(@micropost) %>
              <%= image_tag @micropost.picture.url, id: :js_imgPrev, size:"600x450", class:"post-prev img-fluid" %>
            <% else %>
              <%= image_tag asset_path("defaultPicture.jpg"), id: :js_imgPrev, size:"550x450", class:"post-prev img-fluid" %>
            <% end %>
          </div>
          <div class="field border-bottom picChooseBtn">
            <label for="js_presentImg" class="btn btn-warning"><span>画像を選択</span>
              <%= f.file_field :picture, accept: 'image/jpeg,image/png', id: :js_presentImg, autofocus: true,
                                         class:"form-control-file", style: "display:none;" %>
            </label>
          </div>

          <div class="field text-muted font-weight-bold">
            <%= f.check_box :exif_is_valid %>
            <%= f.label :exif_is_valid, '画像から位置情報を取得' %>
          </div>
          <div class="text-muted">or</div>
　　　　　　<div class="text-muted font-weight-bold">住所から位置情報を取得</div>

          <div class="field border-bottom">
            <%= f.text_field :address, placeholder:"例)東京都渋谷区", class:"form-control address-form border-0" %>
          </div>

          <div class="field border-bottom">
            <%= f.text_field :title, placeholder:"この写真にタイトルをつけましょう！(20字以内)", class:"form-control title-form border-0 mt-2" %><br />
          </div>

          <div class="field border-bottom">
            <%= f.text_area :content, placeholder:"  この写真についてもっと教えてください！(140字以内)",
                                      class:"form-area border-0 mt-2", size: "58x8" %><br />
          </div>
          <%= f.submit '投稿する！', class:"btn btn-lg btn-warning mt-5" %>
        <% end %>
    </div>
</div>
