<h1>新規投稿</h1>
<%=form_for(@microposts) do |f|%>

<%=f.label :タイトル%><br />
<%=f.text_field :title %><br />

<%= f.file_field :picture,accept: 'image/jpeg,image/gif,image/png' %><br />

<%=f.text_area :content,placeholder:'このJunkに関する思い出やエピソードを記入しよう！' %><br />

<%=f.submit 'コレクションに加える！'%>
<%end%>
