<% provide(:title, Settings.titles[:new_post]) %>
<div class="text-center">
    <h1 class="font-weight-bold"><%= Settings.post_utils[:title] %></h1>
    <div class="form-group mt-5">
      <%= form_for(@micropost) do |f| %>
        <%= render "shared/error_messages", model: f.object %>

          <div class="postPicturePrev mt-5">
            <% if picture_valid?(@micropost) %>
              <%= image_tag @micropost.picture.url, id: :js_imgPrev, size:"600x450", class:"post-prev img-fluid" %>
            <% else %>
              <%= image_tag asset_path("defaultPicture.jpg"), id: :js_imgPrev, size:"550x450", class:"post-prev img-fluid" %>
            <% end %>
          </div>
          <div class="field border-bottom picChooseBtn">
            <label for="js_presentImg" class="btn btn-warning"><span><%= Settings.post_utils[:select_image_file] %></span>
              <%= f.file_field :picture, accept: 'image/jpeg,image/png', id: :js_presentImg, autofocus: true,
                                         class:"form-control-file", style: "display:none;" %>
            </label>
          </div>

          <div class="field text-muted font-weight-bold">
            <%= f.check_box :exif_is_valid %>
            <%= f.label :exif_is_valid, Settings.post_utils[:get_position_from_image] %>
          </div>
          <div class="text-muted"><%= Settings.view_utils[:or] %></div>
　　　　　　<div class="text-muted font-weight-bold"><%= Settings.post_utils[:get_position_from_address] %></div>

          <div class="field border-bottom">
            <%= f.text_field :address, placeholder: Settings.post_utils[:address_placeholder], class:"form-control address-form border-0" %>
          </div>

          <div class="field border-bottom">
            <%= f.text_field :title, placeholder: Settings.post_utils[:title_placeholder], class:"form-control title-form border-0 mt-2" %><br />
          </div>

          <div class="field border-bottom">
            <%= f.text_area :content, placeholder: Settings.post_utils[:content_placeholder],
                                      class:"form-area border-0 mt-2", size: "58x8" %><br />
          </div>
          <%= f.submit Settings.post_utils[:submit_post], class:"btn btn-lg btn-warning mt-5" %>
        <% end %>
    </div>
</div>
