<!DOCTYPE html>
<html>
  <%= render 'layouts/head'%>
  <body class="d-flex flex-column" style="min-height: 100vh">
    <header>
      <%= render 'layouts/header'%>
    </header>
    <main>
      <%=render 'layouts/flash'%>
      <%= yield %>
    </main>
    <footer class="text-center text-muted mt-auto py-4">
      <%=render 'layouts/footer'%>
    </footer>
  </body>
</html>
